<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cscb</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="list_selection.js"></script>
</head> <!-- Basic formatting -->

<body>
    <div class="titleBox">
            <div id="list_menu">
            <button onclick="drop_menu()" class="drop_but">list</button>
                <div id="display_dropdown" class="dropdown_cont">
<<<<<<< HEAD
                <a class="dropList" href="./calendar">Calender</a>
                <a class="dropList" href="./ticket">Payment</a>
                <a class="dropList" href="./book">Book Event</a>
                <a class="dropList" href="./createEvent">Book Event</a>
=======
                <a class="dropList" href="./calendar.ejs">Calender</a>
                <a class="dropList" href="./ticket.ejs">Payment</a>
                <a class="dropList" href="./book.ejs">Book Event</a>
                <a class="dropList" href="./createEvent.ejs">Create Event</a>
>>>>>>> 18514669d102df7ef12350b574fabadeeffc18d8
                </div>
            </div> <!-- Dropdown menu -->

        <div class="homapage_title">
        <h1>Book Event</h1>
        </div> <!-- Subpage title -->

            <div class="titleList">
            <button type="button" class="right_title"><a class="right_title" href="./account_creat">create account</a></button>
            <button type="button" class="right_title"><a class="right_title" href="./login">login</a></button>
            <button type="button" class="right_title"><a class="right_title" href="./homepage">homepage</a></button>

            </div> <!-- Dropdown list -->
    </div>

    <div class="event_menu">
        <div class="display">
            <div class="event_org">
                <h2>Attendee Information</h2>
            </div> <!-- Subpage info -->
            
        <form action="/books" method="POST">
            <div class="event">
                <label for="firstName"><div class="firstName">Evant name:</div></label>
                <div class="word">
                <input type = "text" id = "firstName" name = "firstName">
            </div>
            </div> <!-- First name field -->

            <div class="event">
                <label for="lastName"><div class="lastName">time:</div></label>
                <div class="word">
                <input type = "text" id = "lastName" name = "lastName">
            </div>
            </div> <!-- Last name field -->

            <div class="event">
                <label for="description"><div class="lastName">Description:</div></label>
                <div class="word">
                <input type = "text" id = "description" name = "description">
            </div>
            </div> <!-- Description -->

            <div class="event">
               <label for="date"> <div class="dob">Date of Event:</div> </label>
                <div class="word">
                <input type = "text" id = "date" name = "date">
            </div>
            </div> <!-- Time field -->

            <div class="event">
                <label for="location"> <div class="dob">Location:</div> </label>
                <div class="word">
                <input type = "text" id = "location" name = "location">
            </div>
            </div> <!-- Location field -->

            <div class="event">
                <label for="phone"><div class="phone">email:</div></label>
                <div class="word">
                <input type = "text" id = "phone" name = "phone">
            </div>
            </div> <!-- Phone number field -->

            <div class="event">
                <div class="eventPick">Event:</div>
                <div class = "word">
                <select name="eventName" id="event1">
                <option value="sample1">sample</option>
                <option value="sample2">sample</option>
                <option value="sample3">sample</option>
                <option value="boxLengtheningSample">box lengthening sample</option>
                </select>
                </div>
            </div> <!-- Dropdown menu to select event, WIP -->

            <input type="submit" value="Book Event">
        </form>
        </div> <!-- End of display -->
    </div> <!-- End of event menu -->

</body>
</html>