<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cscb</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/list_selection.js"></script>
</head> <!-- Basic formatting -->

<body>
    <div class="titleBox">
        <div class="homapage_title">
        <h1>Event Planner</h1>
        </div>
        <div id="list_menu">
            <button onclick="drop_menu()" class="drop_but">list</button>
            <div id="display_dropdown" class="dropdown_cont">
                <a class="dropList" href="./calendar">Calendar</a>
                <a class="dropList" href="./book">Book Event</a>
            </div>
            <button type="button" class="right_title"><a class="right_title" href="./account_creat">Create Account</a></button>
            <button type="button" class="right_title"><a class="right_title" href="./login">login</a></button>
        </div> <!-- Dropdown menu -->
    </div>

    <div class="event_menu">
        <div class="display">
            <div class="event_org">
                <h2>Current Event</h2>
            </div> <!-- Title -->

            <div class="event">
                <button type="button" class="add"><a href="/book">+</a></button>
                <div class="word">
                    <div class="event_title">Click the + to add an event...</div>
                </div>
            </div> <!-- Addition button + info -->

            <div class="event">
                <div class="symbol">=</div>
                <div class="word">
                    <div class="event_title">title</div>
                    <div class="event_small_summery">Small Summary</div>
                </div>
            </div> <!-- Information -->

            <% if (Event.length>0) {   %>
            <% Event.forEach(Event => { %>
                <div class="linebox">
                </div>
                <form action="/direct" method="post"> 
                <input type="hidden" value="<%=Event.firstName%>" id="name" name="name">
            <button type="submit" class="event_button">
            
            <div class="event">
                <img class="symbol" src="/image/defultLogo.png">
                <div class="word">
                    <div class="event_title"><%= Event.firstName%></div>
                    <div class="event_summery"><%= Event.small_description%></div>
                </div>    
            </div>

            
        </button></form>
            <% })%> <!-- End of loop -->
            <% } %> <!-- End of if statement -->
        </div>
    </div>
</body>
</html>
