<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cscb</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/list_selection.js"></script>
</head> <!-- Basic formatting -->

<body>
    <div class="titleBox1">
        <div class="homapage_title">
        <h1>Event planner</h1>
        </div>
    </div> <!-- Main titlepage -->

    <div class="titleBox">
        <div id="list_menu">
            <button onclick="drop_menu()" class="drop_but">list</button>
            <div id="display_dropdown" class="dropdown_cont">
                <a class="dropList" href="/calendar">clander</a>
                <a class="dropList" href="/ticket">Temp credit infomation</a>
                <a class="dropList" href="#">3</a>
            </div>
        </div> <!-- Dropdown menu -->

        <div class="titleList">
            <button type="button" class="right_title"><a class="right_title" href="/book">add</a></button>
            <button type="button" class="right_title"><a class="right_title" href="/logout">logout</a></button>
        </div> <!-- Rightward buttons -->
    </div>

    <div class="event_menu">
        <div class="display">
            <div class="event_org">
                <h2>Current event</h2>
            </div> <!-- Title -->

            <div class="event">
                <button type="button" class="add"><a href="/book">+</a></button>
                <div class="word">
                    <div class="event_title">click the + to add a event</div>
                </div>
            </div> <!-- Addition button + info -->

            <div class="event">
                <div class="symbol">=</div>
                <div class="word">
                    <div class="event_title">title</div>
                    <div class="event_small_summery">small summery</div>
                </div>
            </div> <!-- Information -->

            
            <% if (Event.length>0) {   %>
                <% Event.forEach(Event => { %>
                    
                    <form action="/direct" method="post"> 
                    <input type="hidden" value="<%=Event.firstName%>" id="name" name="name">
                <button type="submit" class="event_button">
                
                <div class="event">
                    <div class="symbol">Logo/image</div>
                    <div class="word">
                        <div class="event_title"><%= Event.firstName%></div>
                        <div class="event_summery"><%= Event.description%></div>
                    </div>    
                </div>
    
                
            </button></form>
                <% })%> <!-- End of loop -->
                <% } %> <!-- End of if statement -->
        </div>
    </div>
</body>
</html>
