<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cscb</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascript/list_selection.js"></script>

</head>
<body>
    <script>0</script>
    <div class="titleBox1">    
        <div class="homapage_title">
        <h1>Event planner</h1>
        </div>
    </div>
    <div class="titleBox">
    <div>
        <div id="list_menu">
            <button onclick="drop_menu()" class="drop_but">list</button>
            <div id="display_dropdown" class="dropdown_cont">
                <a class="dropList" href="#">1</a>
                <a class="dropList" href="#">2</a>
                <a class="dropList" href="#">3</a>
              </div>
        </div>
        
    </div>
    <div>
        <div class="titleList">
            <button type="button" class="right_title"><a class="right_title" href="/book">add</a></button>
            <button type="button" class="right_title"><a class="right_title" href="/account_creat">create account</a></button>
            <button type="button" class="right_title">login</button>
        </div>
    </div>
    </div>
    <div class="event_menu">
        <div class="display">
            <div class="event_org">
                <h2>Current event</h2>
            </div>
            <div class="event">
                <button type="button" class="add">+</button>
                <div class="word">
                    <div class="event_title">click the + to add a event</div>
                </div>
            </div>
            <div class="event">
                <div class="symbol">=</div>
                <div class="word">
                    <div class="event_title">title</div>
                    <div class="event_small_summery">small summery</div>
                </div>
            </div>
            <div class="event">
                <div class="symbol">Logo/image</div>
                <div class="word">
                    <div class="event_title">title</div>
                    <div class="event_summery">here is a small description to get people intrested
                    </div>

                </div>
            </div>

        </div>

    </div>




    </div>
</body>
</html>