<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (user) { %>
        <form action="/logout" method="POST">
          <!-- Submit button to log out -->
          <button type="submit">Logout</button>
        </form>
      <% } else { %>
        <!-- Displays login link if the user isn't logged in -->
        <a href="/login">Login</a>
      <% } %>
      
</body>
</html>