<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/ticket.css">
    <title>Payment Methods</title>
    <link rel="stylesheet" href="https://kit.fontawesome.com/e8fa2e31b4.js" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <!-- Left section for payment methods -->
        <div class="left">
            <p>Payment Methods</p>
            <hr>
            <div class="methods">
                <div onclick="doFun()" id="tColorA" class="active">
                    <i class="fa-solid fa-credit-card"></i> Pay with card
                </div>
                <div onclick="doFunA()" id="tColorB">
                    <i class="fa-solid fa-building-columns"></i> Online banking
                </div>
                <div onclick="doFunB()" id="tColorC">
                    <i class="fa-solid fa-wallet"></i> Apple/Google pay
                </div>
            </div>
            <hr>
        </div>

        <!-- Center section for card details -->
        <div class="center">
            <a href="https://www.shift4shop.com/credit-card-logos.html">
                <img alt="Credit Card Logos" title="Credit Card Logos" src="https://www.shift4shop.com/images/credit-card-logos/cc-lg-4.png" width="250" height="auto"/>
            </a>
            <hr>

            <div class="card-details">
                <form action="/ticketCreate" method="POST">
                    <!-- First and Last Name inputs -->
                    <div class="name-details">
                        <div>

                            <label for="firstName"><div class="firstName">First Name</div></label>
                            <input type = "text" id = "firstName" name = "firstName" class="cc-name" placeholder="First Name" required>
                        </div>
                        <div>
                            
                            <label for="lastName"><div>Last Name</div></label>
                            <input type = "text" name = "lastName" id="lastName" class="cc-name" placeholder="Last Name" required>
                        </div>
                    </div>

                    <!-- Card number input -->
                    <label for="cardNumber"><div>Card number</div></label>
                    <div class="c-number" id="c-number">
                        <input type = "text" name = "cardNumber" id="cardNumber" class="cc-number" placeholder="Card number" maxlength="19" required>
                   
                        <i class="fa-solid fa-credit-card"></i>
                    </div>

                    <!-- Expiry date and CVV inputs -->
                    <div class="c-details">
                        <div>
                            <label for="expire"><div>Expiry date</div></label>
                            <input type = "text" name = "expire" id="e-date" class="cc-exp" placeholder="MM/YY" required maxlength="5">
                        </div>
                        <div>
                            <div class="cvv-box" id="cvv-box">
                                <label for="cvv"><div>CVV</div></label>                           
                                <input type = "text" name = "cvv" id="cvv" class="cc-cvv" placeholder="CVV" required maxlength="3">
                                <i class="fa-solid fa-lock" style="margin-left: 5px;"></i>
                            </div>
                        </div>
                    </div>

                    <input type = "hidden" value="<%=curEvent.name%>" id="name" name="name">
                    <!-- Submit button -->
                    <button type="submit" class="btn">Submit Payment</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        let tColorA = document.getElementById('tColorA'),
            tColorB = document.getElementById('tColorB'),
            tColorC = document.getElementById('tColorC'),
            iconA = tColorA.querySelector('.fa-credit-card'),
            iconB = tColorB.querySelector('.fa-building-columns'),
            iconC = tColorC.querySelector('.fa-wallet'),
            cDetails = document.querySelector('.card-details');

        function doFun() {
            setActive(tColorA, iconA);
            cDetails.style.display = "block";
        }

        function setActive(activeElement, activeIcon) {
            [tColorA, tColorB, tColorC].forEach(el => el.classList.remove('active'));
            [iconA, iconB, iconC].forEach(ic => ic.classList.remove('icon-active'));

            activeElement.classList.add('active');
            activeIcon.classList.add('icon-active');
        }
    </script>
</body>
</html>
