*{
   margin:0px;
   padding:0px;
}

.homapage_title {
    color: white;
}

.h1 {
    font-family: "Times New Roman", Times, serif;
}

body {
    background-image: url("background.jpg"); /*Any picture fits*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} /*Background image support*/

.titleBox1 {
    display: flex;
    flex-direction: row;
    background: green;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.drop_but {
    background: rgb(21, 103, 255);
    padding:5px;
    color:aliceblue;
}

.titleBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.titleList {
    display: flex;
    background: rgb(0, 0, 0);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}

.listbox {
    padding:4px;
}

.right_title {
    background: rgb(21, 103, 255);
    padding: 5px;
    color:aliceblue;
    margin-right:10px;
    text-decoration: none;    
}

.aligner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} /*As stated below; not the best way, but it's close*/

#list_menu {
position: relative;
display: inline-block;
min-width: 15%; /*Not the best way, but it's close*/
}

.event_menu {
bottom:0;
display: flex;
align-items: center;
justify-content: center;
}

.display {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width:1200px;
    height:100%;    
}

.submit_button {
    margin-top: 20px;
    padding: 10px;
}

.dropdown_cont {
    display:none;
    position: absolute;
    z-index:1;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.event_summery {
    flex-wrap: wrap;
}

.dropList {
    display:block;
    color:block;
    text-decoration: none;
}

.show {
        display:block;
}

.dropList {
    padding:20px;
    color:black
}

.event {
    background-color: rgb(187, 243, 187);
    display:flex;
    justify-content:space-between;
    align-items: space-between;
    padding:10px;
    width:1000px;
}

.word {
    width:300px;
    margin-left: auto;
}

.event_org{
    background-color: rgb(117, 203, 127);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    width:1000px;
    opacity: 0.8;
}
