*{
    font-size: x-large;
}
.title_card{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    background: green;
}
.title {
    color:white;
    background: black;
    padding:10px;
}
.back{
    color:white;
    background: black;
    padding:10px;
    text-decoration: none;
}
.individual{
    color: green;
}
.userCreate{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}